include ./standart/images
include ./euro/images
include ./prisma/images
include ./prisma-vl/images
include ./prisma-va/images
include ./custom/images

-
  const galeryPath = './img/portfolio/micflags/'
  const galeryAlt = 'кубик на микрофон типа'
-
  const allImages = [
    standImages,
    prsmVlImages,
    prsmVaImages,
    prsmImages,
    euImages,
    customImages,
  ]
-
  function imagesShuffle(arr){ 
    return shuffle(arr.flat())
  }
-
  const images = imagesShuffle(allImages)

//-
  изменяемые парматры
  dataType
  imgName
  pictureName
  imagesPath
