include ../../mixins/section-title
include ../../mixins/imgGen
include ./galery-data

mixin galery(datas)
    ul.micflag__portfolio-wrapper.portfolio
        each data in datas
            li.portfolio__item
                +imageGenerate(data)

section.micflag__portfolio
    +sectionTitle('micflag__portfolio-heading', 'Сделано')
    +galery(images)