-
    const stages = [
        {
            heading: 'Ваш запрос',
            description: 'Мы получаем от вас запрос, на изготовлению или консультацию, обрабатываем его в течение 5-10 минут, и даём вам обратную связь почтой или телефонным звонком, вас всё устраивает, прекрасно',
            picNme: 'require.jpg',
            link: '#'
        },
        {
            heading: 'Визуализация 3D',
            description: 'Для визуализации необходим ваш логотип. На данном этапе ваш дизайнер может запросить технические требования к файлу, чего мы любезно предоставялем в письменном виде и формате файла, где достаточно вложить ваш логотип, и прислать этот файл обратно нам. Мы делаем визуализацию, и можем предложить на выбор дополнительный вариант модели кубика на микрофон.',
            picNme: '3d.jpg',
            link: '#'
        },
        {
            heading: 'Согласование',
            description: 'На данном этапе согласуется форма и внешний вид изделия, сроки выполнения работ, способ оплаты, доставка или самовывоз',
            picNme: 'alignment.jpg',
            link: '#'
        },
        {
            heading: 'Производство',
            description: 'Подготавливается необходимая документация, прикрепляется к готовым изделиям. Далее в случае самовывоза клиент забирает свой заказ самостоятельно, в случае доставки заказ передаётся курьеру по городу если доставка по москве, либо транспортной компании, если доставка в регион',
            picNme: 'manufacturing.jpg',
            link: '#'
        },
        {
            heading: 'Обратная связь',
            description: 'Не смущайтесь нашей назойливости, мы просто интересуемся всё ли впорядке с заказом, довольны лы вы сотрудничеством с нашей компанией',
            picNme: 'feedback.jpg',
            link: '#'
        },
    ]