-
    const stages = [
        {
            heading: 'Ваш запрос',
            description: 'Мы&nbsp;получаем от&nbsp;вас запрос, на&nbsp;изготовлению или консультацию, обрабатываем его в&nbsp;течение 5-10&nbsp;минут, и&nbsp;даём вам обратную связь почтой или телефонным звонком, вас всё устраивает, прекрасно, работаем!)',
            picNme: 'require.jpg',
            link: '#'
        },
        {
            heading: 'Визуализация 3D',
            description: 'Для визуализации необходим ваш логотип. На&nbsp;данном этапе ваш дизайнер может запросить технические требования к&nbsp;файлу, чего мы&nbsp;любезно предоставляем в&nbsp;письменном виде и&nbsp;формате файла, где достаточно вложить ваш логотип, и&nbsp;прислать этот файл обратно нам. Мы&nbsp;делаем визуализацию, и&nbsp;можем предложить на&nbsp;выбор дополнительный вариант модели кубика на&nbsp;микрофон.',
            picNme: '3d.jpg',
            link: '#'
        },
        {
            heading: 'Согласование',
            description: 'На&nbsp;данном этапе согласуется форма и&nbsp;внешний вид изделия, сроки выполнения работ, способ оплаты, доставка или самовывоз',
            picNme: 'alignment.jpg',
            link: '#'
        },
        {
            heading: 'Производство',
            description: 'Согласно выше указанным срокам выполняется работа, изделие упаковывается и&nbsp;передаётся на&nbsp;склад',
            picNme: 'manufacturing.jpg',
            link: '#'
        },
        {
            heading: 'Доставка',
            description: 'Подготавливается необходимая документация, прикрепляется к&nbsp;готовым изделиям. Далее в&nbsp;случае самовывоза клиент забирает свой заказ самостоятельно, в&nbsp;случае доставки заказ передаётся курьеру по&nbsp;городу если доставка по&nbsp;москве, либо транспортной компании, если доставка в&nbsp;регион',
            picNme: 'delivery.jpg',
            link: '#'
        },
        {
            heading: 'Обратная связь',
            description: 'Не смущайтесь нашей назойливости, мы просто интересуемся всё ли впорядке с заказом, довольны лы вы сотрудничеством с нашей компанией',
            picNme: 'feedback.jpg',
            link: '#'
        },
    ]