
html(lang='ru')

    body
        p.
            Хотите научиться чему-то новому на сайте HTML Academy ? Если да, нажмите кнопку
            #[button(type="button") Хочу учиться]
            И наш менеджер свяжется с вами
