extends _layuot

block variables
    include ./modules/head/head-data
    include ./utils
    include ./mixins/section-title
    - pageClass = 'page-body'
    
block metaHead
  title=  headData.index.title ? headData.index.title : 'не заполнен объект headData'
  meta(name='description' content= headData.index.description ? headData.index.description : 'не заполнен объект headData')
  meta(name='keywords' content= headData.index.keywords ? headData.index.keywords :'не заполнен объект headData')
  script(src=' https://cdn.jsdelivr.net/npm/swiper@9.0.5/swiper-bundle.min.js ')
  link(href=' https://cdn.jsdelivr.net/npm/swiper@9.0.5/swiper-bundle.min.css ' rel='stylesheet')

block content
    h1.visually-hidden Кубики на микрофон
    include ./modules/benefits/benefits
    include ./modules/slider/slider
    //- include ./modules/why-us/why-us
    //- include ./modules/galery/galery
    //- include ./modules/price/price
    //- include ./modules/work-stages/work-stages
    //- include ./modules/contacts/contacts
    //- include ./modules/page-navigation/page-navigation
block scripts
    script(src='./js/pristine.js')
    script(src='./js/test.js')
    script(type='module' src='./js/main.js')
