.alert-wrapper{
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.alert {
    z-index: 100;
    background-color: $white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 300px;
    max-width: 420px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px rgba($color: $disabled, $alpha: 0.7);
    
    @include tablet {
        border-radius: 10px;

    }

    &__title {
        font-size: 20px;
        text-align: center;
        color: $pink;
        font-weight: 800;
        margin-block-end: 20px;

        @include tablet{
            font-size: 25px;
        }
    }

    &__description {
        font-size: 14px;
        text-align: center;
        color: $disabled;

        @include tablet{
            font-size: 18px;
        }
    }
}