.btn {
    @include reset-link-style;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba($green, 0.85);
    border: none;
    color: $white;
    padding-block: rem(10);
    padding-inline: rem(20);
    width: 100%;
    min-height: rem(40);
    border-radius: rem(20);

    @include tablet {
        border-radius: rem(5);
    }

    &:hover {
        cursor: pointer;
        background-color: $green;
    }

    &--buy {
        background-color: $pink;
    }


    &--more {
        background-color: $logo-yellow;

        &:hover {
            background-color: $logo-yellow-darkened;
        }
    }

    &__icon {
        display: none;
        fill: $white;

        @include tablet {
            margin-inline-end: rem(15);
        }
    }

    &__icon--js {
        display: initial;
        width: 19px;
        height: auto;
        fill: $green;
        padding: 0;

        @include tablet {
            display: none;
            width: initial;
            margin-inline-end: rem(15);
        }

        @include desktop {
            margin-inline-end: rem(15);
            fill: $white;
        }
    }

    &__text--js {
        display: none;

        @include tablet {
            display: flex;
            text-decoration: underline;
            text-decoration-style: dashed;
            text-decoration-color: inherit;
            text-underline-offset: 10px;

        }
    }

    &__text--js-buy {
        display: none;
    }

    &:hover &__icon {
        opacity: 0.7;
    }

    &:focus &__icon {
        opacity: 0.4;
    }

    &__text--hide {
        display: none;
    }

    &__icon--js-cart {
        fill: $pink;
        width: 24px;

        @include tablet {
            display: initial;
        }
    }

    &--hide {
        display: none;
    }

    &--js {
        width: 40px;
        padding: 5px;
        background-color: transparent;

        @include tablet {
            padding: 0;
            width: auto;
        }

        &:hover {
            background-color: transparent;
        }
    }


    &--js-more {

        @include tablet {
            color: $disabled-darked;
        }

        &:hover {
            @include tablet {
                color: $disabled;
            }
        }

        &:hover .btn__text--js {
            text-decoration-color: $disabled;
            text-underline-offset: 12px;

        }

        &:active {
            @include tablet {
                color: rgba($disabled, 0.5);
            }
        }
    }


    &--js-collapse {
        background-color: $disabled;

        &:hover {
            background-color: $disabled-darked;
        }
    }

    &--js-buy {
        @include tablet {
            // background-color: $pink;
        }

        &:hover {
            @include tablet {
                // background-color: $green;
            }
        }

        &:active {
            @include tablet {
                // background-color: rgba($green, 0.6);
            }
        }
    }

}