.header {
  position: relative;
  z-index: 0;
  background-color: $white;

  &__nav {
    @include wrapper;
    position: relative;
  }

  &__menu-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    justify-content: space-between;
    z-index: 1;

    @include tablet {
      padding-inline: rem(5) rem(10);
      position: relative;
      flex-direction: row;
    }
  }

  &__menu-wrapper::before {
    @include tablet {
      @include solidPer100vw;
    }
  }

  &__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: rem(15);

    @include tablet {
      padding-inline: 0;
    }
  }

  &__toggle-menu {
    @include tablet {
      display: none;
    }
  }

  &__menu {
    order: 1;

    @include tablet {
      order: inherit;
    }
  }

  &__callback-btn {
    display: flex;
    width: rem(200);
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include reset-link-style($white);
    padding-inline: rem(28);
    padding-block: rem(12);
    background-color: $pink;

    &:hover {
      background-color: $green;
    }
  }


  &__benefits {}
}



.header {

  &__adding-info-wrapper {

    padding-inline: rem(30);
    padding-block: rem(30);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: rem(10);

    @include tablet {
      grid-template-columns: auto 1fr auto;
      justify-items: center;
      align-items: center;
      column-gap: rem(50);
      padding-block: rem(15) rem(20);
    }

    @include desktop {
      padding-inline: rem(10);
    }
  }

  &__logo {
    grid-column: 2 / 3;

    @include tablet {
      grid-column: 1 / 2;
    }

  }

  &__info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    column-gap: rem(20);
    grid-column: 1 / 2;
    grid-row: 1/-1;

    @include tablet {
      display: initial;
      grid-column: 2 / 3;
      max-width: rem(400);
    }
  }

  &__info {
    @include tablet {
      text-align: center;
    }
  }

  &__info--continuously {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__info--continuously::after {
    @include tablet {
      margin-block: rem(12);
      content: '';
      display: block;
      position: relative;
      width: 70%;
      height: 1px;
      background-color: $disabled;
    }
  }

  &__info-pic {
    width: rem(40);
    height: auto;
    fill: $disabled-darked;

    @include tablet {
      display: none;
    }
  }

  &__info-pic--location {
    width: rem(25);

    @include tablet {
      fill: $green;
      display: initial;
      width: rem(18);
    }
  }

  &__info-text {
    display: none;

    @include tablet {
      display: initial;

    }
  }

  &__contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
    column-gap: rem(10);
    grid-column: 3 / -1;

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      row-gap: rem(15);
      justify-items: start;
    }

  }

  &__contact {

    @include tablet {
      @include reset-link-style;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: rem(15);
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__contact:hover &__contacts-pic {
    @include tablet {
      transform: scale(118%);
      fill: green;
      transition-property: transform;
      transition-duration: 90ms;
    }
  }


  &__contacts-pic {
    width: rem(25);
    height: auto;

    @include tablet {
      width: rem(19);
    }
  }

  &__contact-text {
    display: none;

    @include tablet {
      display: initial;
      max-width: rem(250);
    }
  }

  &__contact--mail {

    @include tablet {
      align-self: end;
    }
  }
}