.page-nav {
    font-family: "Oswald","Arial",sans-serif;
    z-index: 10;
    position: fixed;
    top: 250px;
    right: 10px;
    margin-inline-start: 30px;
    width: fit-content;
    max-width: 200px;
    background-color: rgba(#fff,0.85);
    padding: 20px;
    border-radius: 10px;

    &__heading {
        padding: 0;
        padding-block-end: 10px;
        font-size: 20px;
        font-weight: 100;
    }

    &__list {
        list-style: none;
        padding: 0;
        max-height: 250px;
        overflow-y: auto;

    }

    &__item {
        padding: 5px;
        padding-inline-start: 20px;
        border-inline-start: 2px solid rgb(grey, 0.3);
    }

    &__item:hover {
        color: $pink;
    }

    &__item--selected {
        // font-weight: 800;
        border-inline-start: 3px solid $green;
        background-color: rgb(grey, 0.15);
        // @include show-outline(green);
    }

    &__item--selected:hover {
        color: inherit;
        background-color: rgb(grey, 0.5);
    }

    &__link {
        font-size: 16px;
        text-decoration: none;
        color: inherit;
    }
}