.contacts {

  &__form {
    @include section-wrapper;
    margin-block-end: rem(20);

    @include tablet {
      margin-block-end: rem(40);
    }
  }

  &__heading {
    // @include wrapper;
    margin-block-end: rem(70);
  }

  &__info {
    @include section-wrapper;
    text-align: center;
    margin-block-end: rem(30);
    color: $disabled;
    font-size: rem(13);

    @include tablet {
      margin-block-end: rem(50);
      font-size: rem(15);

    }
  }

  &__map {}
}

$row-count: 3;

.form {
  display: grid;
  row-gap: rem(20);

  @include tablet {
    column-gap: rem(20);
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    column-gap: rem(35);
  }

  &__group {
    display: grid;
    row-gap: rem(15);
    
    &--message {
      row-gap: rem(25);
      @include tablet {
        row-gap: rem(15);
        grid-template-rows: repeat($row-count, 1fr);
      }
    }
  }

  &__group-message {
    @include tablet {
      grid-row: 1 / -2;
    }
  }

  &__submit {
    align-self: end;

    @include tablet {
      grid-row: -2 / -1;
      justify-self: end;
    }
  }
}

.input {
  display: flex;
  flex-direction: column;

  &__name {
    padding-block-end: rem(5);
    padding-inline-start: rem(10);

  }

  &__field {
    padding: rem(12);
    border-radius: rem(5);
    border-color: $base-gray;
    border-width: rem(1);
    box-shadow: none;


    &--message {
      height: 200px;
      resize: none;

      @include tablet {
        height: 100%;
      }
    }
  }
}

.btn {
  background-color: rgba($green, 0.85);
  border: none;
  color: $white;
  padding: rem(12);
  width: 100%;

  @include tablet {
    border-radius: rem(5);
  }

  &:hover {
    cursor: pointer;
    // color: rgba($white, 0.7);
    background-color: $green;
    // box-shadow: 0 1px 1px rgba($off-black, 0.3);
  }
}

.map {
  height: rem(300);

}