.micflag {

    &__portfolio {
        @include section-wrapper;
    }

    &__portfolio-heading {}

    &__portfolio-wrapper {}
}

.heading {

    &__content {}
}

.portfolio {
    @include reset-list-style;
    padding-block: rem(30);
    display: grid;
    column-gap: rem(10);
    row-gap: rem(10);
    grid-template-columns: repeat(2, minmax(130px, 330px));

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: rem(20);
        row-gap: rem(20);
    }

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
        column-gap: rem(20);
        row-gap: rem(20);
    }


    &__item {
        // @include show-outline;
        cursor: pointer;
        overflow: hidden;
        border-radius: 15px;

        @include tablet {
            border-radius: 5px;
        }

        &:hover {
            opacity: 0.8;
            // box-shadow: 0 0 3px $off-black;
            transform: scale(101%);
            transition-property: opacity;
            transition-duration: 300ms;
        }
    }

    &__item-pic-contaner {}

    &__pic {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}



.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 100vh;
    width: 100%;
    padding-inline: calc((12 / 320) * 100%);
    background-color: rgba($off-black, 0.8);

    @include tablet {
        padding-inline: rem(30);

    }

    &__image-wrapper {
        @include wrapper;
        display: grid;
        grid-template-columns: 60px 1fr 1fr 60px;
        grid-template-rows: auto 1fr;
        column-gap: rem(20);
        // @include show-outline;

        @include tablet {
            grid-template-columns: rem(90) 1fr rem(90);
            grid-template-rows: rem(80) 1fr;
        }

        @include desktop {
            // grid-template-columns: repeat(12, 1fr);
        }
    }

    &__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        border: none;
        background-color: transparent;
        padding: 0;
        border-radius: rem(20);
        min-width: rem(40);
        min-height: rem(40);
        grid-column: -2 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-size: rem(16);
        color: $grey;
        cursor: pointer;

        @include tablet {
            font-size: rem(25);
        }

        &:hover {
            color: $off-black;
            background-color: rgba($off-black, 0.1);
        }
    }

    &__image-block {
        border-radius: rem(15);
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / -1;
        grid-row: 1 / -1;

    }

    &__image {
        // object-fit: contain;
        width: 100%;
        border-radius: 30px;

        @include tablet {
            border-radius: 10px;
        }
    }

    &__image-navigation {
        width: calc((35 / 320) * 100vw);
        height: calc((35 / 320) * 100vw);
        padding: 0;
        border: none;
        border-radius: 50%;
        grid-row: 1 / -1;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px auto;
        align-self: center;

        @include tablet {
            background-size: 20px auto;
            width: rem(60);
            height: rem(60);
        }

        &:hover {
            background-color: rgba(#000000, 0.1);
            cursor: pointer;
        }

        &:active {
            background-color: rgba(#000000, 0.3);
        }
    }

    &__image-navigation--previos {
        justify-self: start;
        background-image: url('../img/icons/sprite/arrow-left.svg');
        grid-column: 1 / 2;

        @include tablet {
            background-image: url('../img/icons/sprite/arrow-left-tablet.svg');
            justify-self: end;
        }
    }

    &__image-navigation--next {
        justify-self: end;
        background-image: url('../img/icons/sprite/arrow-right.svg');
        grid-column: -2 / -1;

        @include tablet {
            background-image: url('../img/icons/sprite/arrow-right-tablet.svg');
            justify-self: start;
        }
    }

}