.toggle-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 27px;
  height: 14px;
  border: none;
  background-color: transparent;
  padding: 0;

  &::before,
  &::after {
    @include toggle-parametrs;
    content: "";
    transition: transform 0.2s linear 0s;
  }

  &::before {
    box-shadow: 0 6px 0 $black;
    transition: box-shadow 0.2s linear 50ms;
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }

  &--hide {
    display: none;
  }

  &--close::before {
    width: 100%;
    box-shadow: 0 0 0 rgba($black, 0);
    background-color: $black;
    transform: translateY(6px) rotate(45deg);
  }

  &--close::after {
    width: 100%;
    background-color: $black;
    transform: translateY(-6px) rotate(-45deg);
  }
}
