-
  const micFlags = [
    {
      heading: 'Кубик на микрофон &laquo;Standart&raquo;',
      text: 'Самая распространенная и&nbsp;универсальная модель насадок на&nbsp;микрофон. Размерная линейка 65, 70, 80мм. Рекомендуемое отверстие под стержень микрофона 45мм.',
      price: '3100',
      imageSet: [
        {
        type:['png'],
        screens:['1x', '2x'],
        devices:['1150', '768'],
        names:['standart-desktop','standart-tablet'],
        },
        {
        screens: '2x',
        type: 'png',
        name:'standart',
        width: '197',
        height: '161',
        alt: 'кубик на микрофон типа Standart',
        }]
    },
    {
      heading: 'Кубик на микрофон &laquo;Euro&raquo;',
      text: 'Модель прекрасно подходит если логотип широкий или невысокая ножка микрофона.Размер стороны 80&times;50мм.Рекомендуемое отверстие под стержень микрофона 45мм.',
      price: '3400',
      imageSet: [
        {
        type:['png'],
        screens:['1x', '2x'],
        devices:['1150', '768'],
        names:['euro-desktop','euro-tablet'],
        },
        {
        screens: '2x',
        type: 'png',
        name:'euro',
        width: '197',
        height: '161',
        alt: 'кубик на микрофон типа euro',
        }]
    },
  ] 