.chose-block
    h2.chose-block__title Какая машина тебе нужна?
    ul.checkers
        li.checker.checkers__item
            span.checker__button.radio-button.checked(tabindex='0') Toyota corolla
        li.checker.checkers__item
            span.checker__button.radio-button(tabindex='-1') Vesta SW CROSS
        li.checker.checkers__item
            span.checker__button.radio-button(tabindex='-1') Mitsubishy Pajero