meta(charset='utf-8')
meta(name='viewport' content='width=device-width')
meta(name='format-detection' content='telephone=no')
link(rel='preload' href='fonts/opensans.woff2' as='font')
link(rel='preload' href='fonts/opensansbold.woff2' as='font')
link(rel='stylesheet' type='text/css' href='./css/style.min.css')
link(rel='icon' href='favicon.ico')
link(rel='icon' href='img/icons/favicons/favicon.svg' type='image/svg+xml')
link(rel='apple-touch-icon' href='img/icons/favicons/apple.png')
link(rel='manifest' href='manifest.webmanifest')
