-
    const headData = {
        index: {
            title:'МейкПро изготовление кубика на микрофон срочно, мы делаем кубик на микрофон и наши возможности ограничены лишь Вашей фантазией, репортёрские, эфирные и для разного рода мероприятий купить кубики на микрофон, логотип на микрофон, насадка на микрофон с логотипом',
            keywords: 'кубик на микрофон, кубики на микрофон, призма,  срочно, насадка на микрофон, кубики, телевидение,телеканал, youtube канал, интервью, мероприятие, event, доставка, москва, медведково, свао',
            description: 'срочно изготовление кубиков на микрофон, кубик на микрофон, кубики на микрофон, кубик на микрофон срочно, насадка на микрофон с логотипом, репортёрский кубик на микрофон, эфирный кубик на микрофон, логотип на мкрофон, кубик с подсветкой, кубик призма, доставка кубика на микрофон, реклама для телевидения, брэндированный кубик на микрофон, кубик на микрофон с логотипом, кубик для интервью, сувенирное изделие кубик на микрофон, кубик на микрофон заказать, кубик на микрофон москва, заказать кубик на микрофон, купить кубик на микрофон, купить кубики на микрофон'
        }
    }
     