-
    const standartImages = [
        [
            {
                devices:[false],
                type:['webp', 'jpeg'],
                screens:['1x', '2x'],
                names:['sok-full','sok'],
                path: './img/portfolio/micflags/',
                pictureClass: 'portfolio',
            },
            {
                path: './img/portfolio/micflags/',
                imageClass: 'portfolio',
                screens: '2x',
                type: 'jpeg',
                name:'sok',
                width: '130',
                height: '112',
                alt: 'кубик на микрофон типа',
                dataType:'Euro',
            }
        ],
    ]