footer.page-body__footer.footer
    .footer__wrapper
        .footer__contacts-info
            a.footer__logo.logo.logo--active
                picture
                    source(media='(min-width: 768px)' 
                    srcset='./img/icons/logo-tablet-wb.svg')
                    img.logo__pic.logo__pic--wb(alt='логотип компании'
                    width='46' height='46'
                        src='./img/icons/logo-mobile-wb.svg')
            ul.footer__contacts
                li.footer__contacts-item
                    a.footer__contacts-link(href='mailto:zakaz@meykpro.ru') zakaz@meykpro.ru
                li.footer__contacts-item
                    a.footer__contacts-link(href='tel:+79854687651') 8 (985) 468 76&nbsp;51
                li.footer__contacts-item
                    a.footer__contacts-link(href='#') г. Москва, Полярная 31&nbsp;Б с17
        p.footer__copyrights.
            &copy;&nbsp;2013-2023 &laquo;МейкПро&raquo;.
            #[span.visually-hidden Все права защищены] 