-
  const navInfo = {
    heading: 'На этой странице',
    content: [
      {
      text:'О нас',
      class: false,
      },
      {
      text:'Прайс',
      class: false,
      },
      {
      text:'Галлерея',
      class: {class:['page-nav__item--selected']},
      },
      {
      text:'О нас',
      class: false,
      },
      {
      text:'Сделано',
      class: false,
      },
      {
      text:'Контакты',
      class: false,
      },

    ],
  }        