-
    const prsmVlImages = [
        [
            {
                devices:[false],
                type:['webp', 'jpeg'],
                screens:['1x', '2x'],
                names:['biosea-full','biosea'],
                path: './img/portfolio/micflags/',
                pictureClass: 'portfolio',
            },
            {
                path: './img/portfolio/micflags/',
                imageClass: 'portfolio',
                screens: '2x',
                type: 'jpeg',
                name:'biosea',
                width: '130',
                height: '112',
                alt: 'кубик на микрофон типа',
                dataType:'prisma VL',
            }
        ],
        [
            {
                devices:[false],
                type:['webp', 'jpeg'],
                screens:['1x', '2x'],
                names:['ntk-full','ntk'],
                path: './img/portfolio/micflags/',
                pictureClass: 'portfolio',
            },
            {
                path: './img/portfolio/micflags/',
                imageClass: 'portfolio',
                screens: '2x',
                type: 'jpeg',
                name:'ntk',
                width: '130',
                height: '112',
                alt: 'кубик на микрофон типа',
                dataType:'prisma VL',
            }
        ],
    ]