-
    const euImages = [
        [
            {
                devices:[false],
                type:['webp', 'jpeg'],
                screens:['1x', '2x'],
                names:['restart-full','restart'],
                path: './img/portfolio/micflags/',
                pictureClass: 'portfolio',
            },
            {
                path: './img/portfolio/micflags/',
                imageClass: 'portfolio',
                screens: '2x',
                type: 'jpeg',
                name:'restart',
                width: '130',
                height: '112',
                alt: 'кубик на микрофон типа',
                dataType:'euro',
            }
        ],
        [
            {
                devices:[false],
                type:['webp', 'jpeg'],
                screens:['1x', '2x'],
                names:['sok-full','sok'],
                path: './img/portfolio/micflags/',
                pictureClass: 'portfolio',
            },
            {
                path: './img/portfolio/micflags/',
                imageClass: 'portfolio',
                screens: '2x',
                type: 'jpeg',
                name:'sok',
                width: '130',
                height: '112',
                alt: 'кубик на микрофон типа',
                dataType:'euro',
            }
        ],
        [
            {
                devices:[false],
                type:['webp', 'jpeg'],
                screens:['1x', '2x'],
                names:['zinerit-full','zinerit'],
                path: './img/portfolio/micflags/',
                pictureClass: 'portfolio',
            },
            {
                path: './img/portfolio/micflags/',
                imageClass: 'portfolio',
                screens: '2x',
                type: 'jpeg',
                name:'zinerit',
                width: '130',
                height: '112',
                alt: 'кубик на микрофон типа',
                dataType:'euro',
            }
        ],
    ]