include ./mixins.pug
+head
    script(src=" https://cdn.jsdelivr.net/npm/swiper@9.0.5/swiper-bundle.min.js ")
    link(href=" https://cdn.jsdelivr.net/npm/swiper@9.0.5/swiper-bundle.min.css " rel="stylesheet")
//- head
//- 	meta(charset="utf-8")
//- 	meta(name="viewport" content="width=device-width")
//- 	meta(name="format-detection" content="telephone=no")
//- 	meta(name="description" content="срочно изготовление кубиков на микрофон, кубик на микрофон, кубики на микрофон, кубик на микрофон срочно, насадка на микрофон с логотипом, репортёрский кубик на микрофон, эфирный кубик на микрофон, логотип на мкрофон, кубик с подсветкой, кубик призма, доставка кубика на микрофон, реклама для телевидения, брэндированный кубик на микрофон, кубик на микрофон с логотипом, кубик для интервью, сувенирное изделие кубик на микрофон, кубик на микрофон заказать, кубик на микрофон москва, заказать кубик на микрофон, купить кубик на микрофон, купить кубики на микрофон")
//- 	meta(name="keywords" content="кубик на микрофон, кубики на микрофон, призма,  срочно, насадка на микрофон, кубики, телевидение,телеканал, youtube канал, интервью, мероприятие, event, доставка, москва, медведково, свао")

//- 	title МейкПро изготовление кубика на микрофон срочно, мы делаем кубик на микрофон и наши возможности ограничены лишь Вашей фантазией, репортёрские, эфирные и для разного рода мероприятий купить кубики на микрофон, логотип на микрофон, насадка на микрофон с логотипом
//- 	//- !-- link rel="preload" href="fonts/oswaldregular.woff2" as="font"
//- 	//- link rel="preload" href="fonts/oswaldmedium.woff2" as="font" --
//- 	link(rel="preload" href="fonts/opensans.woff2" as="font")
//- 	link(rel="preload" href="fonts/opensansbold.woff2" as="font")
//- 	link(rel="stylesheet" type="text/css" href="./css/style.min.css")
//- 	link(rel="icon" href="favicon.ico")
//- 	link(rel="icon" href="img/icons/favicons/favicon.svg" type="image/svg+xml")
//- 	link(rel="apple-touch-icon" href="img/icons/favicons/apple.png")
//- 	link(rel="manifest" href="manifest.webmanifest")
//- 	script(src=" https://cdn.jsdelivr.net/npm/swiper@9.0.5/swiper-bundle.min.js ")
//- 	link(href=" https://cdn.jsdelivr.net/npm/swiper@9.0.5/swiper-bundle.min.css " rel="stylesheet")