@mixin wrapper($content-width: $max-content-width) {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
}


@mixin section-wrapper() {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  padding-inline: calc(20 / 320 * 100%);

  @include tablet {
    padding-inline-start: rem(50);
    padding-inline-end: rem(50);
  }
}

@mixin section-wrapper-b() {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
  padding-inline-start: rem(30);
  padding-inline-end: rem(30);

  @media (min-width: 321px) {
    padding-inline-start: calc(30 / 320 * 100%);
    padding-inline-end: calc(30 / 320 * 100%);
  }

  @include tablet {
    padding-inline-start: calc(40 / 320 * 100%);
    padding-inline-end: calc(40 / 320 * 100%);
  }

  @include desktop {
    padding-inline-start: rem(224);
    padding-inline-end: rem(224);
  }
}

@mixin block-width($current-media, $mxWidth) {
  width: calc($mxWidth / $current-media * 100%);
}

@mixin part-of-block($parts, $share: 1) {
  width: calc(100 / $parts * $share) * 1%;
}

@mixin padding-resset() {
  padding: 0;
}

@mixin margin-resset() {
  margin: 0;
}

@mixin reset-list-style() {
  list-style: none;
  padding: 0;
}

@mixin pseudo-el($form: block, $content: "") {
  display: $form;
  content: $content;
  @content;
}

@mixin toggle-parametrs($color: $black, $height: rem(2)) {
  width: 100%;
  height: $height;
  background-color: $color;
}

@mixin reset-link-style($color: $black) {
  text-decoration: none;
  color: $color;
}

// for block debug start
@mixin show-outline($color: red, $weight: 2px) {
  outline: $weight dashed $color;
  outline-offset: -$weight;
}


@mixin solidPer100vw($bgColor: $grey, $elementHeight: 100%) {
  z-index: -1;
  display: block;
  content: '';
  transform: translateX(calc(100vw / -2));
  left: 50%;
  top: 0;
  position: absolute;
  background-color: $bgColor;
  width: 100vw;
  height: $elementHeight;
}

// for block debug end