include about-data

mixin listGenerate(data)
    each part in data
         li.simple-grid__item.bragging
            p.bragging__title!= part.title
                p.bragging__desc= part.description

section.about.micflag__about
    +sectionTitle('about', 'Почему именно у&nbsp;нас?')
    ul.about__list.simple-grid
        +listGenerate(aboutData)