-
    const aboutData = [
        {
            title: 'Мы&nbsp;на&nbsp;рынке с&nbsp;2013 года',
            description: `Наш опыт в&nbsp;изготовлении кубиков (насадка на&nbsp;микрофон) составляет 
            более пяти лет, мы&nbsp;постоянно совершенствуем свой профессионализм 
            и&nbsp;улучшаем технологии производства.`,
        },
        {
            title: 'Только компетентные специалисты',
            description: `Наша команда состоит только из&nbsp;высококвалифицированных сотрудников
                        знающих своё дело каждый в&nbsp;своей области. Это менеджеры, дизайнеры, макетчики
                        и&nbsp;технологи.`,
        },
        {
            title: 'Всегда в&nbsp;курсе',
            description: `Наша компания регулярно отслеживает актуальные формы и&nbsp;линии
                        репортерских насадок на&nbsp;микрофон, современные колористические решения, износостойкие
                        материалы для изготовления кубиков.`,
        },
        {
            title: 'Наши клиенты',
            description: `Сбербанк, Академия СТАРС, МОСКОВСКАЯ ОПЕРЕТТА, OBI, MEGACARD, телеканалы Москва24, Пятница,
                        Перец, НТВ и&nbsp;т.&nbsp;д.`,
        },
    ]