-
    const euroParametrs = [
        {
            name: 'Размер стороны', 
            value: '80x50x80', 
        },
        {
            name: 'Диаметр отверстия', 
            value: '45&nbsp;мм.', 
        },
        {
            name: 'Срок изготовления', 
            value: '1-3&nbsp;дня', 
        },
        {
            name: 'Доставка', 
            value: 'от&nbsp;600р.', 
        },
        {
            name: 'Материал', 
            value: 'ПВХ5мм', 
        },
        {
            name: 'Вес', 
            value: '60гр.', 
        },
        {
            name: 'Уплотнитель', 
            value: 'Порролон', 
        },
    ]
-
    const euroImages = [
        {
            devices:['768','320'],
            type:['webp', 'jpeg'],
            screens:['1x', '2x'],
            names:['sok-full','sok'],
            path: './img/portfolio/micflags/',
            pictureClass: 'slide',
        },
        {
            path: './img/portfolio/micflags/',
            imageClass: 'parametrs',
            screens: '2x',
            type: 'jpeg',
            name:'sok',
            width: '240',
            height: '240',
            alt: 'кубик на микрофон типа euro wink',
            data: 'Euro',
        }
    ]