-
    const prismaVlParametrs = [
        {
            name: 'Размер стороны', 
            value: '95x60мм', 
        },
        {
            name: 'Диаметр отверстия', 
            value: '45&nbsp;мм.', 
        },
        {
            name: 'Срок изготовления', 
            value: '2-5&nbsp;дней', 
        },
        {
            name: 'Доставка', 
            value: 'от&nbsp;600р.', 
        },
        {
            name: 'Материал', 
            value: 'ПВХ5мм', 
        },
        {
            name: 'Вес', 
            value: '60гр.', 
        },
        {
            name: 'Уплотнитель', 
            value: 'Порролон', 
        },
    ]
-
    const prismaVlImages = [
        {
            devices:['768','320'],
            type:['webp', 'jpeg'],
            screens:['1x', '2x'],
            names:['ntk-full','ntk'],
            path: './img/portfolio/micflags/',
            pictureClass: false,
        },
        {
            path: './img/portfolio/micflags/',
            imageClass: 'parametrs',
            screens: '2x',
            type: 'jpeg',
            name:'ntk',
            width: '240',
            height: '240',
            alt: 'кубик на микрофон типа',
            dataType: 'Prisma VL',
        }
    ]