-
    const standartParametrs = [
        {
            name: 'Размер стороны', 
            value: '65x65x65', 
        },
        {
            name: 'Диаметр отверстия', 
            value: '45&nbsp;мм.', 
        },
        {
            name: 'Срок изготовления', 
            value: '1-3&nbsp;дня', 
        },
        {
            name: 'Доставка', 
            value: 'от&nbsp;600р.', 
        },
        {
            name: 'Материал', 
            value: 'ПВХ5мм', 
        },
        {
            name: 'Вес', 
            value: '60гр.', 
        },
        {
            name: 'Уплотнитель', 
            value: 'Порролон', 
        },
    ]
-
    const standartImages = [
        {
            devices:['768','320'],
            type:['webp', 'jpeg'],
            screens:['1x', '2x'],
            names:['wink-full','wink'],
            path: './img/portfolio/micflags/',
            pictureClass: false,
        },
        {
            path: './img/portfolio/micflags/',
            imageClass: 'parametrs',
            screens: '2x',
            type: 'png',
            name:'wink',
            width: '240',
            height: '240',
            alt: 'кубик на микрофон типа',
            dataType:'Standart',
        }
    ]