li.price__list-item.parametrs(data-about='')
    .parametrs__heading-wrapper
        h3.parametrs__heading.
            #[span.visually-hidden Кубик на микрофон типа]
            Тип кубика
        p.parametrs__price цена кубика &nbsp;&#8381;