include ./data/standart
include ./data/euro
-
  const prices = [
    {
      subHeading: 'Кубик на микрофон типа',
      heading: 'Standart',
      parametrs: standartParametrs,
      images: standartImages,
      status: true,
    },
    {
      subHeading: 'Кубик на микрофон типа',
      heading: 'Euro',
      parametrs: euroParametrs,
      images: euroImages,
      status: true,
    },
    {
      subHeading: 'Кубик на микрофон типа',
      heading: 'Prisma',
      parametrs: euroParametrs,
      images: euroImages,
      status: false,
    },
    {
      subHeading: 'Кубик на микрофон типа',
      heading: 'Prisma VL',
      parametrs: euroParametrs,
      images: euroImages,
      status: true,
    },
    {
      subHeading: 'Кубик на микрофон типа',
      heading: 'Prisma VA',
      parametrs: euroParametrs,
      images: euroImages,
      status: true,
    },
  ] 

-
