-
  const customImages = [
    [
      {
        devices:[false],
        type:['webp', 'jpeg'],
        screens:['1x', '2x'],
        names:['csbs-full','csbs'],
        path: './img/portfolio/micflags/',
        pictureClass: 'portfolio',
      },
      {
        path: './img/portfolio/micflags/',
        imageClass: 'portfolio',
        screens: '2x',
        type: 'jpeg',
        name:'csbs',
        width: '130',
        height: '112',
        alt: 'кубик на микрофон типа',
        dataType:'custom',
      }
    ],
    [
      {
        devices:[false],
        type:['webp', 'jpeg'],
        screens:['1x', '2x'],
        names:['euplus-full','euplus'],
        path: './img/portfolio/micflags/',
        pictureClass: 'portfolio',
      },
      {
        path: './img/portfolio/micflags/',
        imageClass: 'portfolio',
        screens: '2x',
        type: 'jpeg',
        name:'euplus',
        width: '130',
        height: '112',
        alt: 'кубик на микрофон типа',
        dataType:'custom',
      }
    ],
    [
      {
        devices:[false],
        type:['webp', 'jpeg'],
        screens:['1x', '2x'],
        names:['popcacke-full','popcacke'],
        path: './img/portfolio/micflags/',
        pictureClass: 'portfolio',
      },
      {
        path: './img/portfolio/micflags/',
        imageClass: 'portfolio',
        screens: '2x',
        type: 'jpeg',
        name:'popcacke',
        width: '130',
        height: '112',
        alt: 'кубик на микрофон типа',
        dataType:'custom',
      }
    ],
    [
      {
        devices:[false],
        type:['webp', 'jpeg'],
        screens:['1x', '2x'],
        names:['uje_za_20-full','uje_za_20'],
        path: './img/portfolio/micflags/',
        pictureClass: 'portfolio',
      },
      {
        path: './img/portfolio/micflags/',
        imageClass: 'portfolio',
        screens: '2x',
        type: 'jpeg',
        name:'uje_za_20',
        width: '130',
        height: '112',
        alt: 'кубик на микрофон типа',
        dataType:'custom',
      }
    ],
  ]