ul.benefits
    li.benefits__item Cрок изготовления от&nbsp;30&nbsp;минут
    li.benefits__item Собственное производство
    li.benefits__item.
        Доставка
        #[span.benefits__item-region Мск, МО, РФ, СНГ]