-
  const whyUsData = [
    {
      title: 'На&nbsp;рынке с&nbsp;2013 года',
      description: `Наш опыт в&nbsp;изготовлении кубиков (насадка на&nbsp;микрофон, логотип на&nbsp;микрофон) составляет более 10&nbsp;лет.Нам доверяют лучшие и&nbsp;с&nbsp;нами остаются.`,
    },
    {
      title: 'Ассортимент и&nbsp;качество ',
      description: `6&nbsp;стандартных моделей + индивидуальный дизайн 
        Удобная посадка на&nbsp;микрофон 
        Предварительная визуализация
        Качественная фрезеровка 
        Полностью ручная обработка и&nbsp;сборка
        Ветрозащита NEW`,
  },
  {
    title: 'Ваши условия - наши возможности',
    description: `Оперативная связь с&nbsp;клиентом
        Партия от&nbsp;1&nbsp;шт до&nbsp;1000&nbsp;шт
        Отправка в&nbsp;день обращения
        Скидки за&nbsp;количество 
        Доставка по&nbsp;Москве, МО, РФ, СНГ`,
  },
  {
    title: 'Готовы к&nbsp;сложным вызовам',
    description: `Аппликация
        Прямая печать
        Объемные элементы 
        Прозрачный пластик
        Подсветка и&nbsp;зарядка от&nbsp;USB 
        Различная фактура поверхности`,
  },
  ]